{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Login</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{% static "css/bootstrap.css" %}">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="{% static "css/signin.css" %}">
    
  </head>

  <body class="text-center">
    <form class="form-signin" method="post" action="{% url "accounts:login" %}">
        {% csrf_token %} <!--baraye ersal amn etelaat (nabashe error darim)-->
        {% comment %} tooye method migim in get hast ya post , tooye action migim be koja gharare ersal beshe ke ba {% url %} minevisimesh {% endcomment %}
        {% comment %} tooye url sh ham migim boro tooye usr haye accounts (behesh esm dadim) va befrest be function login (behesh esm dadim) {% endcomment %}
      <img class="mb-4" src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
      <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
      {% comment %} {{form.as_p}} be in soorat ham mitoonim az django form estefade konim ke kelid sh ro tooye view dadim va inja darim estefade mikonim {% endcomment %}
      <label for="inputEmail" class="sr-only">Username</label>
      <input type="text" name="username" class="form-control" placeholder="Username" required autofocus>
      <label for="inputPassword" class="sr-only">Password</label>
      <input type="password" name="password" class="form-control" placeholder="Password" required>
      {% if message %}
      <p class="text-danger">{{ message }}</p>  
      {% endif %} 
      <div class="checkbox mb-3">
        <label>
          <input type="checkbox" value="remember-me"> Remember me
        </label>
      </div>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
      <p class="mt-5 mb-3 text-muted">&copy; 2026-2027</p>
    </form>
  </body>
</html>
