<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>test</title>
</head>
<body>
    <h1>Hi {{name}} {{lastname}}</h1>
</body>
</html>
{% comment %} 
khob hala zaman ine ke ba attribute haye jinja kar konim.
goftim ke function ha ro jinja be in soorat minevisand ke {% amalkard mored nazar %}
va goftim ke attribute ha ba {{ amalkard mored nazar }} anjam mishod.
inja vaght estefade az attribute hast. be in soorat ke ma tooye file views.py ye arguman sevom , be halat dictionary
baraye function render neveshtim va inja bayad ba key , value ha kar konim
be in soorat ke man ye matni daram masala hi , hala be ki salam kone ? bere az view bekhoone.%
be in soorat :  <h1>Hi {{name}}</h1>
alan in name , ye key tooye dictionary mast ke pas dadim be inja 
hala age ham esm ro khastim va ham famil ro bayad do ta key haro pas bedim be in soorat ke :
<h1>Hi {{name}} {{lastname}}</h1>
baraye in ghazie niazi nist load static konim
{% endcomment %}