<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>test</title>
</head>
<body>
    <h1>Hi {{name}} {{lastname}}</h1>
</body>
</html>
{% comment %} 
khob hala zaman ine ke ba attribute haye jinja kar konim.
goftim ke function ha ro jinja be in soorat minevisand ke {% amalkard mored nazar %}
va goftim ke attribute ha ba {{ amalkard mored nazar }} anjam mishod.
inja vaght estefade az attribute hast. be in soorat ke ma tooye file views.py ye arguman sevom , be halat dictionary
baraye function render neveshtim va inja bayad ba key , value ha kar konim
be in soorat ke man ye matni daram masala hi , hala be ki salam kone ? bere az view bekhoone.%
be in soorat :  <h1>Hi {{name}}</h1>
alan in name , ye key tooye dictionary mast ke pas dadim be inja 
hala age ham esm ro khastim va ham famil ro bayad do ta key haro pas bedim be in soorat ke :
<h1>Hi {{name}} {{lastname}}</h1>
baraye in ghazie niazi nist load static konim
{% endcomment %}

<form action="{% url 'website:test' %}" method="post" >
    {% csrf_token %}
    {% comment %} <label>name:</label>  {% endcomment %}
    {% comment %} ye label mamooli {% endcomment %}
    {% comment %} <input name="name" type="text"><br> {% endcomment %}
    {% comment %} ye input baraye voroodi {% endcomment %} 
    {% comment %} {{form}} {% endcomment %}
    {% comment %} amala dige field balayi ro nemikhaym {% endcomment %}
    {% comment %} object formi ke tooye forms.py neveshtim ro mikhaym namaytesh bedim ke faghat ye attribute name dasht
    inja entezar mire etelaat oon chizi ke ijad kardam ro behem namayesh bede
    deghat kon ke tooye views va forms bayad asami yeksan bashand 
    {% endcomment %}   

    {{form.as_p}} 
    {% comment %} in as_p chikar mikone ? baes mishe ke maghadir form ma har kodoom tooye ye paragraf bian
    in khodesh har kodoom az eleman haro be soorat khodkar mibare tooye ye paragraf gharareshoon mide. p manzoor hamoon tag <p> hast

    masala mitoonim begim as_table shabih ye jadval mishe ke rooye ina kheyli kar saz nist
    as_ul ham darim ke hamoon unorder list hastesh ke bazam inja sazgar nist 
    {% endcomment %}

    {% comment %} yadet nare ke in {{form}} az klid ie hast ke baraye form tooye view tarif kardim miad {% endcomment %}

    <button type="submit">submit</button>
    {% comment %} ye dokme {% endcomment %}
    {% comment %} action tooye form mige be che safhe ie banast ersal beshe {% endcomment %}
    {% comment %} tooye method ham moshakhas mikonim ke gharare che methodi dashte bashim ke dar inja method ro post mizarim {% endcomment %}
    {% comment %} baraye inke csrf betoone handle beshe az ye template tag be nam {% csrf_token %} estefade mikonim 
    ke betoone oon amniat ro baraye ma ijad kone. yani hamrah ba formi ke darim ersal mikonim ye bakhsh token ham daram mifrestam.
    deghat kon tooye form hayi ke halat post daran tooye django bayad {% csrf_token %} darj beshe hatma in ye ghanoone
    {% endcomment %}
    </form>


{% comment %} ina ro baraye nemoone negah dashtam {% endcomment %}

    {% comment %} <label>name:</label>
    <input name="sname" type="text"><br> {% endcomment %}

    {% comment %} <label>email:</label>
    <input name="email" type="email"><br> {% endcomment %}

    {% comment %} baraye filed email {% endcomment %}

    {% comment %} <label>subject:</label>
    <input name="subject" type="text"><br> {% endcomment %}
    
    {% comment %} baraye filed subject {% endcomment %}

    {% comment %} <label>message:</label>
    <input name="message" type="text"><br> {% endcomment %}

    {% comment %} baraye filed message {% endcomment %}