{% load static %}
								<div class="single-sidebar-widget tag-cloud-widget">
									<h4 class="tagcloud-title">Tag Clouds</h4>
									<ul>
										{% for tag in post.tags.all %} 
										<!-- az tooye post , boro soragh tag ha , hamasho bardar biar berizesh tooye tag -->
											<li><a href="{% url 'blog:tag' tag_name=tag.name %}">{{tag.name}}</a></li> <!--az tooye tag ha name sh ro mikham-->
											<!--tooye url ham migim ke boro tooye blog, tag, ye arguman mifrestim be nam tag_name ke meghdar tag.name
											ro enteghal mide
											-->
										{% endfor %}
									</ul>
								</div>