<!DOCTYPE html>
{% load blog_tags %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>test</title>
</head>
<body>
    {% for post in posts %}
        <h1>{{post.title}}</h1>
        <p>{{post.published_date}}</p>
    {% endfor %}


    <h1>Testing page</h1>
    <h3>test: {% totalposts as tp %}<h3>
    <p>{{tp}}</p>
    
    <h3>test: {% posts as totalposts%}<h3>

    <p>====================================================================</p>

    {% for post in totalposts %}
        <p>{{post.content|snippet:50}}</p>
    {% endfor %}

    <p>====================================================================</p>

    {% for post in totalposts %}
        <p>{{post.title}}</p>
    {% endfor %}

    <p>====================================================================</p>

</body>
</html>